.conback {
    background-color: rgba(177, 193, 226,0.5);
    border-radius: 15px;
}

.formDiv {
    color: black !important;
    font-weight: bolder;
    font-size: large;
}

.topic {
    font-size: 120%;
    text-align: center;
}